.message-item {
  width: 80%;
  margin: 3px auto 5px 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 5px 10px #888888;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #ff0099, #493240);
  background-image: -moz-linear-gradient(to bottom, #ff0099, #493240);

  &.from-user {
    margin: 3px 10px 5px auto;
    background-image: linear-gradient(to top, #fc466b, #3f5efb);
    background-image: -moz-linear-gradient(to top, #fc466b, #3f5efb);
  }

  .message-item-header {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px dashed #888888;

    img {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      border-radius: 50%;
    }
  }

  .message {
    font-size: 12px;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
