.profile-page {
  width: 100vw;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .profile-background {
    width: 100vw;
    height: 300px;

    img {
      width: 100%;
      height: 100%;
      margin-bottom: 5px;
      object-fit: cover;
    }
  }

  .profile-content {
    width: 40vw;

    .full-width {
      width: 100%;
    }

    .main-header {
      width: 90%;

      .btn {
        margin: 5px;
      }
    }
  }
}
