.sidebar-left {
  width: 20vw;
  padding: 20px 0;
  margin-bottom: 20px;
  background: #203a43;
  box-shadow: 2px 3px 10px #e87e04;

  .sidebar {
    width: 100%;
    height: 100%;
  }

  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
  }

  p {
    margin: 0;
    text-align: center;
  }

  .btn-container {
    margin: 10px 0;

    .btn {
      margin: 5px;
    }
  }

  .settings {
    list-style: none;
    font-size: 18px;
    width: 100%;
    margin: 0;
    padding: 0;

    .settings-item {
      margin: 10px;
      border: 1px solid #e87e04;
      padding: 5px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        box-shadow: 2px 3px 10px #e87e04;
      }
    }
  }
}
