.messages {
  width: 50%;
  margin-right: 10px;
  height: auto;
  border: 1px solid #e87e04;

  .messages-header {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #e87e04;
  }

  .messages-container {
    height: 350px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    background: #203a43;
  }
}
