.gallery-main-content {
  width: 100%;

  .main-gallery-header {
    width: 100%;

    .upload-form {
      width: 100%;

      .btn {
        margin: 5px;
      }

      input {
        width: 60%;
      }
    }
  }
}
