.gallery-main-content {
  width: 100%;

  .main-gallery-header {
    width: 100%;

    .upload-form {
      width: 100%;

      .btn {
        margin: 5px;
      }

      input {
        width: 60%;
        height: 50px;

        &::-webkit-file-upload-button {
          background-color: #e87e04;
          border: none;
          cursor: pointer;
          height: 100%;
          width: 30%;
        }

        &::-moz-file-upload-button {
          background-color: #e87e04;
          border: none;
          cursor: pointer;
          height: 100%;
          width: 30%;
        }
      }
    }
  }
}
