.info-edit-container {
  width: 100%;

  .info-edit-form select {
    width: 50%;
    height: 30px;
    margin: 10px;
    background-color: #203a43;
    color: #f4f4f4;
    border: 1px solid #e87e04;

    option {
      border-bottom: 1px solid #e87e04;
    }
  }
}
