.right-sidebar {
  width: 20vw;
  background-color: #203a43;
  box-shadow: 2px 3px 10px #888888;

  .sidebar {
    widows: 100%;
  }

  .sidebar-header {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .sidebar-container {
    width: 100%;
  }
}
