.friend-list {
  width: 50%;
  margin-right: 10px;
  height: auto;
  border: 1px solid #e87e04;

  .friend-list-header {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #e87e04;
    text-align: center;
  }

  .friend-list-container {
    overflow-y: scroll;
    height: 350px;
    background: #203a43;
  }
}
